.DS_Store
.*
cache
*.log

web/log/development.log

web/tmp/pids/server.pid

web/tmp/pids/server.pid

web/log/development.log

web/tmp/pids/server.pid

web/tmp/pids/server.pid

web/log/development.log

web/tmp/pids/server.pid

web/tmp/pids/server.pid

opencv/araki.jpg

opencv/baboon.jpg

opencv/me.jpg

opencv/my_fruity_graph.png

opencv/conv.jpg

web/t.jpg
